footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100%;
    height: 150px;

        h6{
            font-family: $font-texto;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
            font-weight: 100;
            margin-top: 2%;
        }

        .media{
            display: flex;
            justify-content: space-around;
            width: 70%;
            margin-top: 1%;

                a{
                    text-decoration: none;
                    color: #060A24;
                    font-size: 16px;
                }
           
        }
    
}

@media (min-width: 768px){

    footer{
        flex-direction: row;
        justify-content: space-between;

            h6{
                margin-left: 5%;
            }
            .media{
                margin-right: 5%;
                width: 22%;
                font-size: 18px;
            }
    }
}