@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$font-titulo: 'IBM Plex Sans' ;
$font-texto: 'IBM Plex Mono';


@import 'header';
@import 'welcome';
@import 'main';
@import 'phone';
@import 'guests';
@import 'temas';
@import 'novedades';
@import 'footer';



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    border: 0;
    outline: none;
}